literature/articles/Contrasting_with_Symile-Simple_Model-Agnostic_Representation_Learning_for_Unlimited_Modalities_Saporta_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_Transferable_Visual_Models_From_Natural_Language_Supervision_Radford_2021.pdf filter=lfs diff=lfs merge=lfs -text
